# Streamlit para o dashboard
streamlit==1.26.0

# Pacotes de manipulação de dados
pandas==2.2.3
numpy==1.26.4
Unidecode==1.4.0

# Pacotes de visualização
matplotlib==3.7.2
seaborn==0.13.2
pillow==9.5.0

# Dependências extras que Streamlit precisa
altair==5.5.0
blinker==1.9.0
cachetools==5.5.2
click==8.2.1
importlib-metadata==6.11.0
packaging==23.2
rich==14.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2
